h4 {
  position: absolute;
  width: 100%;
  bottom: 66px;  
}

img {
  vertical-align: center;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  max-height: 370px;
  max-width: 350px;
  border: 2px solid white;
  box-shadow: 5px 5px 2px;
  transition: transform 300ms ease-in-out;
}

.helper {
  height: 500px;
  vertical-align: middle;
}
.container {
  max-width: 100%;
  min-height: 500px;
  padding:  10% 0;
  position: relative;
  text-align: center;
}

.wrapper {
  height: 100%;
  vertical-align: middle;

}

.toTheLeft {
  transform: translate(-1000px) 
}

.toTheRight {
  transform: translate(1000px)
}

.place {
  padding: 45px 0px;
}
